<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.nfly.dell.nflydemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.DashboardActivity" />
        <activity android:name=".activities.LearnActivity" />
        <activity android:name=".activities.PracticeActivity" />
        <activity android:name=".activities.KnowledgeBaseActivity" />
        <activity android:name=".activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.OnBoardRegisterActivity" />
        <activity android:name=".activities.CompanyWiseDetailsActivity" />
        <activity android:name=".activities.JobRoleWiseDetailsActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".activities.CourseStudyActivity" />
        <activity android:name=".activities.singleActivities.LearnGDTopicsActivity" />
        <activity android:name=".activities.singleActivities.PracticePaperDetailsActivity" />
        <activity android:name=".activities.singleActivities.LearnGDForAgainstActivity" />
        <activity android:name=".activities.singleActivities.LearnTipsDetailsActivity" />
        <activity android:name=".activities.singleActivities.LearnCompanyPaperDetailsActivity" />
        <activity android:name=".activities.singleActivities.LearnInterviewSubtopicsActivity" />
        <activity android:name=".activities.singleActivities.LearnInterviewQAActivity" />
        <activity android:name=".activities.FeedBackActivity" />
        <activity android:name=".activities.singleActivities.PracticeTestActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.singleActivities.LearnPapersDisplayActivity" />
        <activity android:name=".activities.SalaryCalculatorActivity" />
        <activity android:name=".activities.NoInternetActivity" />
        <activity android:name=".activities.singleActivities.ForgotPasswordActivity" />
        <activity android:name=".activities.singleActivities.SplashScreenSliderActivity" />
        <activity android:name=".activities.singleActivities.ResumeViewActivity" />
        <activity android:name=".activities.HelpActivity" />
        <activity android:name=".activities.singleActivities.PersonalityTestActivity"></activity>
    </application>

</manifest>